name: CI-CD
on:
  push:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Run Unit Tests
        run: npm test

  release-docker:
    needs: build-and-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/demo-app:latest

  deploy-local:
    needs: release-docker
    runs-on: self-hosted
    steps:
      - name: Pull and Run App
        run: |
          docker pull ${{ secrets.DOCKERHUB_USERNAME }}/demo-app:latest
          docker stop demo-app || true
          docker rm demo-app || true
          docker run -d --name demo-app -p 8080:3000 ${{ secrets.DOCKERHUB_USERNAME }}/demo-app:latest